/* Responsive Column Set Device Size In Media (All Media) Min-Width & Max-Width */

@media (min-width:576px){
  .grid{
    grid-template-columns: repeat(2 , 1fr);
  }

  .card{
    grid-template-columns: repeat(2 , 1fr);
  }
}

@media (min-width:768px){
  .grid{
    grid-template-columns: repeat(2 , 1fr);
  }

  .card{
    grid-template-columns: repeat(3 , 1fr);
  }
}

@media (min-width:992px){
  .grid{
    grid-template-columns: repeat(3 , 1fr);
  }

  .card{
    grid-template-columns: repeat(3 , 1fr);
  }
}

@media (min-width:1200px){
  .grid{
    grid-template-columns: repeat(4 , 1fr);
  }

  .card{
    grid-template-columns: repeat(4 , 1fr);
  }
}

@media (min-width:1400px){
  .grid{
    grid-template-columns: repeat(6 , 1fr);
  }
}