*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

/* CSS flexbox Properties */

.row {
	display: flex;
	height: 700px;
	width: 1500px;
	background-color: slategrey;
}

.col {
	/* flex-grow: 1; */
	flex-basis: 200px;
	border: 2px solid black;
}

.col:nth-child(2) {
	/* flex-grow: 4; */
	flex-shrink: 3;
}

/* CSS Animation */

.container {
	height: 100vh;
	border: 2px solid gray;
	position: relative;
}

.mountain img {
	width: 100%;
	height: 90vh;
	object-fit: cover;
	object-position: top;
	position: absolute;
	bottom: 0;
}

.sun img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
}

.cloud img{
	position: absolute;
}

.cloud img:nth-child(1){
	left: 0;
	animation-name: cloud1;
	animation-duration: 5s;
	animation-timing-function: linear;
}

.cloud img:nth-child(2){
	right: 0;
	animation-name: cloud2;
	animation-duration: 5s;
	animation-timing-function: linear;
}

.sun img {
	animation-name: movesun;
	animation-duration: 5s;
	animation-timing-function: linear;
}


@keyframes movesun {
	0% {
		transform: translate(0%, 400%);
	}

	30% {
		transform: translate(0%, 300%);
	}

	60% {
		transform: translate(0%, 200%);
	}

	100% {
		transform: translate(0%, 50%);
	}
}

@keyframes cloud1{
	0% {
		transform: translateX(0%);
	}

	30% {
		transform: translateX(300%);
	}

	60% {
		transform: translateX(600%);
	}

	100% {
		transform: translateX(900%);
	}
}

@keyframes cloud2{
	0% {
		transform: translateX(-0%);
	}

	30% {
		transform: translateX(-300%);
	}

	60% {
		transform: translateX(-600%);
	}

	100% {
		transform: translateX(-900%);
	}
}